includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 8
    paths:
        - src/
        - wppack-tidy-admin.php
    scanDirectories:
        - web/wp/wp-includes/
